/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MOBILE DISPLAY VERSION */

html {
  font-size: 1.2em;
}

body {
  box-sizing: border-box;
  /* max-width: 1000px; */
}

main#top-hero {
  background-image: url(./images/headphones_hero_1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 1.5rem 0.5rem 1.5rem;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
}

.logo {
  text-align: center;
}

.logo img {
  margin: 2em auto 10px auto;
}

li a {
  text-decoration: none;
  color: white;
}

ul a:hover {
  color: #ff6565;
}

#top-hero:first-child section:nth-of-type(2n) {
  text-align: center;
}

.mid-hero h2 {
  font-family: sans-serif;
  font-weight: 700;
  max-width: 60%;
  margin: 5px auto;
  line-height: 1.2em;
}

.mid-hero > p:nth-of-type(1) {
  font-size: 1em;
  margin-bottom: 1.2em;
  max-width: 60%;
  margin: 0 auto 15px auto;
}

.mid-hero > h2,
.mid-hero p:nth-of-type(1) {
  color: white;
}

.mid-hero .btn {
  color: white;
  text-transform: uppercase;
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 1.2rem;
  padding: 1em;
  border: none;
  background-color: #f07c73;
  margin-bottom: 3em;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.mid-hero > p:nth-of-type(2n) {
  color: white;
  max-width: 70%;
  margin: 2em auto;
  font-family: sans-serif;
  font-weight: 400;
}

/* END OF TOP-HERO */

/* BEGINNING OF MID-HERO */

main .action {
  background-color: white;
}

main h2 {
  text-align: center;
  margin-top: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
}

#action > p {
  text-align: center;
  color: black;
  max-width: 70%;
  margin: 1.5em auto;
  font-family: sans-serif;
}

.media {
  text-align: center;
  margin: 1em;
}

.media h3 {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

.media p {
  color: black;
  max-width: 70%;
  margin: 1em auto;
  line-height: 1.5rem;
  font-family: sans-serif;
  font-size: 1em;
}

.media div {
  margin: 2em;
}

/* ENDING OF MID-HERO */

/* BEGINNING OF OUR WORKS */

main #result {
  background-image: url(./images/headphones_hero_2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0 auto;
  min-height: 100vh;
  padding: 3rem 1.5rem;
}

#result > h3 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  max-width: 50%;
  margin: 2em auto;
  font-size: 1.2em;
}

#result > p {
  font-family: sans-serif;
  text-align: center;
  max-width: 70%;
  margin: 1em auto;
  color: white;
}

#result > div {
  text-align: center;
  margin: 3em auto;
  color: white;
}

.rate {
  display: flex;
  justify-content: center;
}

.pentagon {
  width: 140px;
  height: 140px;
  background: #f07c73;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 1.5em 2em;
}

#contact {
  min-height: 50vh;
  text-align: center;
  margin: 5em auto;
}

#contact h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 2em;
  max-width: 50%;
  margin: 1em auto;
}

input {
  margin: 1em auto;
  border: none;
  outline: tomato;
}

input:focus {
  border-bottom: 1px solid black;
  outline: none;
}

form button {
  border-radius: 1.2rem;
  padding: 1em;
  border: none;
  background-color: #f07c73;
  margin-top: 2em;
}

#contact .btn {
  color: white;
  text-transform: uppercase;
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.form-example label {
  border-bottom: 1.5px solid black;
}

footer {
  background-color: rgb(29, 42, 56);
  min-height: 60vh;
}

footer .logo {
  max-width: 100%;
  margin: 1em auto;
}

ul svg {
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 1em;
}

footer ul,
.copyright {
  text-align: center;
}

.copyright {
  color: gray;
  opacity: 0.5;
  margin-top: 1.2em;
}

@media (min-width: 480px) {
  main#top-hero {
    min-height: 100vh;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  header img {
    max-width: 70%;
  }

  ul {
    display: flex;
  }
  ul li {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mid-hero {
    margin-top: 12em;
  }

  .mid-hero p:nth-last-child(1),
  .mid-hero h2,
  #action p {
    max-width: 80%;
  }

  #action p,
  .mid-hero p,
  .mid-hero p:last-child {
    line-height: 1.5rem;
  }

  .mid-hero button {
    padding: 1.3em 3em;
  }

  #action h2 {
    margin-top: 4em;
  }

  .media {
    display: flex;
    justify-content: center;
  }
  .media .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  #result p {
    line-height: 1.5rem;
  }

  .rate {
    display: flex;
    justify-content: center;
  }
  #result .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5em;
  }
}
