body {
    background-image: url(./images/Object.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}


/* HEADER SECTION BEGINS */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 100px 20px 100px;
}


.menu {
    display: flex;
}

.menu li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


ul li {
    text-decoration: none;
    margin: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
}

/* HEADER SECTION ENDS */


/* MAIN SECTION BEGINS */


h1 {
    color: white;
    font-weight: 700;
    font-size: 120px;
    line-height: 90%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 40px;
}

#sub-section {
    text-align: center;
}

#sub-section span {
    margin: 20px;
    position: relative;
    bottom: 120px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}



button {
    background-color: #C271FF;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    padding: 15px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 80px;
    box-shadow: 10px solid black;
}

.quote {
    text-align: center;
    position: relative;
    top: 60px;
}

.quote span {
    color: #C271FF;
}

/* PROS SECTION */

.pros {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 150px;
    color: white;
    text-align: center;
}


.pros img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.pros p {
    width: 240px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.pros h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.pros h3 {
    line-height: 1px;
}

.pros p {
    line-height: 1;
}

/* PERSON NAME */

.quote-section {
    background-color: #C271FF;
}

.person-name {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: white;
}

.person-name h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 33.6px;
    font-family: Arial, Helvetica, sans-serif;
}


.person-name img {
    height: 160px;
    width: 160px;
    margin-top: 10px;
    margin-left: 100px;
}

.person-name .blockquote {
    height: 400px;

}

blockquote {
    height: 158px;
    width: 700px;
    line-height: 25px;
    font-size: 22px;
    color: white;
    margin: 150px 10px 10px 0;
}

.blockquote h3 {
    line-height: 1;
    margin-top: -100px;
}

.blockquote p {
    line-height: 0;
    margin-bottom: 10px;
}


/* VIDEO BLOCK */

.video-section {
    text-align: center;
}

.video-block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 80px;
}

.video-section span,
#membership-section span {
    color: #C271FF;
    font-weight: 300;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}


.subscription {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.subscription img {
    width: 30px;
    height: 30px;
}

.subscription h4 {
    color: #C271FF;
    margin: 10px;
}

.rate {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
}

.video-block h3 {
    text-align: center;
    margin-right: 100px;
}


/* MEMBERSHIP SECTION */

.membership {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}



#membership-section {
    background-color: #071629;
    color: white;
    height: 500px;
}

#membership-section h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    position: relative;
    top: 40px;
}



.m-block {
    text-align: center;
    margin: 50px;
}

.m-block p {
    line-height: 25px;
}


/* FAQ SECTION */


#grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid-item {
    width: 270px;
    margin-left: 150px;
    padding: 20px;
}

.row h2 {
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

/* FOOTER SECTION */

/* footer {
    background-color: #071629;
    height: 249px;
} */


.player {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.player img {
    position: relative;
    top: 320px;
}


.footer-bottom {
    width: 100%;
    background-color: #071629;
    padding: 40px 0;
    text-align: center;
    height: 249px;
}


.footer-top-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 100px;
}


.social-media img {
    width: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.social-media {
    display: flex;
    gap: 20px;
    /* spacing between icons */
}

.copy-right {
    margin-top: 100px;
}

.copy-right p {
    color: white;
    opacity: 0.7;
    font-size: 14px;
}