body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

header ul {
    background-color: aqua;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}


@keyframes example {
    from {
        background-color: blue;
    }

    to {
        background-color: red;
    }
}

.box {
    width: 10rem;
    height: 10rem;
    background-color: blue;
    animation-name: example;
    animation-duration: 3s;
}